[language-server.biome]
command = "biome"
args = ["lsp-proxy"]


[language-server.tsgo-ls]
command = "tsgo"
args = ["--lsp", "--stdio"]


[language-server.nil]
command = "nil"


[language-server.terraform-ls]
command = "terraform-ls"
args = ["serve"]


[language-server.astro-ls]
command = "astro-ls"
args = ["--stdio"]
config = { typescript = { tsdk = "./node_modules/typescript/lib/" } }


[[language]]
name = "astro"
language-id = "astro"
file-types = ["astro"]
roots = ["package.json"]
language-servers = [
  "astro-ls",
  { name = "tailwindcss-ls" },
  { name = "eslint", support-workspace = true, config-files = [
    ".eslintrc.js",
    ".eslintrc.cjs",
    ".eslintrc.yaml",
    ".eslintrc.yml",
    ".eslintrc",
    ".eslintrc.json",
    "eslint.config.js",
    "eslint.config.mjs",
    "eslint.config.cjs",
    "eslint.config.ts",
    "eslint.config.mts",
    "eslint.config.cts",
  ] },
]


[[language]]
name = "javascript"
language-id = "javascript"
file-types = ["js", "mjs", "cjs", "rules", "es6", "pac", "jakefile"]
roots = ["package.json"]
language-servers = [
  # { name = "typescript-language-server", except-features = [
  #   "format",
  # ] },
  # { name = "vtsls", except-features = [
  #   "format",
  # ], support-workspace = [
  #   "package.json",
  # ] },
  { name = "tsgo-ls", except-features = [
    "format",
  ], support-workspace = [
    "package.json",
  ] },
  { name = "eslint", support-workspace = true, config-files = [
    ".eslintrc.js",
    ".eslintrc.cjs",
    ".eslintrc.yaml",
    ".eslintrc.yml",
    ".eslintrc",
    ".eslintrc.json",
    "eslint.config.js",
    "eslint.config.mjs",
    "eslint.config.cjs",
    "eslint.config.ts",
    "eslint.config.mts",
    "eslint.config.cts",
  ] },
  { name = "biome", config-files = [
    "biome.json",
    "biome.jsonc",
  ] },
]


[[language]]
name = "jsx"
language-id = "javascriptreact"
file-types = ["jsx"]
roots = ["package.json"]
language-servers = [
  # { name = "typescript-language-server", except-features = [
  #   "format",
  # ] },
  # { name = "vtsls", except-features = [
  #   "format",
  # ], support-workspace = [
  #   "package.json",
  # ] },
  { name = "tsgo-ls", except-features = [
    "format",
  ], support-workspace = [
    "package.json",
  ] },
  { name = "eslint", support-workspace = true, config-files = [
    ".eslintrc.js",
    ".eslintrc.cjs",
    ".eslintrc.yaml",
    ".eslintrc.yml",
    ".eslintrc",
    ".eslintrc.json",
    "eslint.config.js",
    "eslint.config.mjs",
    "eslint.config.cjs",
    "eslint.config.ts",
    "eslint.config.mts",
    "eslint.config.cts",
  ] },
  { name = "biome", config-files = [
    "biome.json",
    "biome.jsonc",
  ] },
]


[[language]]
name = "typescript"
language-id = "typescript"
file-types = ["ts", "mts", "cts"]
roots = ["package.json"]
language-servers = [
  # { name = "typescript-language-server", except-features = [
  #   "format",
  # ] },
  # { name = "vtsls", except-features = [
  #   "format",
  # ], support-workspace = [
  #   "package.json",
  # ] },
  { name = "tsgo-ls", except-features = [
    "format",
  ], support-workspace = [
    "package.json",
  ] },
  { name = "eslint", support-workspace = true, config-files = [
    ".eslintrc.js",
    ".eslintrc.cjs",
    ".eslintrc.yaml",
    ".eslintrc.yml",
    ".eslintrc",
    ".eslintrc.json",
    "eslint.config.js",
    "eslint.config.mjs",
    "eslint.config.cjs",
    "eslint.config.ts",
    "eslint.config.mts",
    "eslint.config.cts",
  ] },
  { name = "biome", config-files = [
    "biome.json",
    "biome.jsonc",
  ] },
]

[[language]]
name = "tsx"
language-id = "typescriptreact"
file-types = ["tsx"]
roots = ["package.json"]
language-servers = [
  # { name = "typescript-language-server", except-features = [
  #   "format",
  # ] },
  # { name = "vtsls", except-features = [
  #   "format",
  # ], support-workspace = [
  #   "package.json",
  # ] },
  { name = "tsgo-ls", except-features = [
    "format",
  ], support-workspace = [
    "package.json",
  ] },
  { name = "tailwindcss-ls" },
  { name = "eslint", support-workspace = true, config-files = [
    ".eslintrc.js",
    ".eslintrc.cjs",
    ".eslintrc.yaml",
    ".eslintrc.yml",
    ".eslintrc",
    ".eslintrc.json",
    "eslint.config.js",
    "eslint.config.mjs",
    "eslint.config.cjs",
    "eslint.config.ts",
    "eslint.config.mts",
    "eslint.config.cts",
  ] },
  { name = "biome", config-files = [
    "biome.json",
    "biome.jsonc",
  ] },
]


[[language]]
name = "nix"
file-types = ["nix"]
language-servers = ["nil"]


[[language]]
name = "terraform"
file-types = ["tf"]
language-servers = ["terraform-ls"]
